@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #203947;
  background-color: #ebebeb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #706f6f;
  text-decoration: none;
}

a:hover {
  color: #ad565a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ebebeb;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #901b20;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #901b20;
  color: #ffffff;
  cursor: pointer;
  transition:
    border-color 0.25s,
    background-color 0.25s;
}

button:hover {
  background-color: #ad565a;
}

button:focus,
button:focus-visible {
  outline: 4px auto #cc9598;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #203947;
    background-color: #ebebeb;
  }

  a:hover {
    color: #ad565a;
  }

  button {
    background-color: #901b20;
  }
}
