@import 'tailwindcss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

/* Font Icons */
.icon {
  display: inline-block;
  line-height: 1;
}

.icon-sm {
  font-size: 16px;
}

.icon-md {
  font-size: 24px;
}

.icon-lg {
  font-size: 32px;
}

/* Icon colors */
.icon-primary {
  color: #901b20ff;
}

.icon-white {
  color: #ffffff;
}

.icon-gray {
  color: #6b7280;
}

.button {
  width: 160.328125px;
  height: 40px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffffff; /* white */
  background: #901b20ff; /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 6px;
  gap: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button .icon {
  width: 16px;
  height: 16px;
  fill: #ffffffff; /* white */
}

/* Hover */
.button:hover {
  color: #ffffffff; /* white */
  background: #7a171cff; /* primary-600 */
}

/* Pressed */
.button:hover:active {
  color: #ffffffff; /* white */
  background: #631317ff; /* primary-700 */
}

/* Disabled */
.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
